body {
  margin: 0;
  padding: 0;
  background-color: #131313;
}
nav {
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 40px;
  padding-right: 35px;
  padding-bottom: 12px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
}

.searchbar {
  padding-right: 35px;
  padding-top: 8px;
  width: 60%;
  padding: 20px;
}
.searchbar input[type="search"] {
  width: 50%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 12px;
  border-radius: 10px;
}

.nav_page_link {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  padding-right: 85px;
}

.nav_page_link-login {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  padding: 25px;
  padding-right: 70px;
}
.searchbar-docent {
  padding-right: 35px;
  padding-top: 8px;
  width: 44%;
  padding: 20px;
}
.searchbar-docent input[type="search"] {
  width: 55%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 10px;
  border-radius: 10px;
}

.nav_page_link-login-docent {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  padding-right: 20px;
}

.nav_page_link-login-docent {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  padding: 25px;
  padding-right: 50px;
}
.nav_page_link-docent {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}
.search-button {
  padding: 5px 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.search-input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 20px 0 0 20px;
}

div.searchresults {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  background-color: black;
  border: thin;
  border-radius: 12px;
  border-color: white;
  position: absolute;
  margin-left: 120px;
  margin-top: 23px;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

div.searchresults-docent {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  background-color: black;
  border: thin;
  border-radius: 12px;
  border-color: white;
  position: absolute;
  margin-left: 78px;
  margin-top: 20px;
  width: 20.7%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/*NAV CSS END */

/* CREATE ACCOUNT */

form.createaccount {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
}

input.create_account_input {
  background-color: black;
  color: white;
  padding: 12px;
  width: 20%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
}

h1.account {
  font-size: 31px;
}

input.submit_account {
  background-color: black;
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  border-radius: 50px;
  margin-top: 20px;
  width: 20%;
  padding: 12px;
}

input.submit_account:hover {
  cursor: pointer;
}
div.session {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* CREATE ACCOUNT END */

/* CREATE BOOK */

form.create_book {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 6px;
}
input.create_book_input {
  background-color: black;
  color: white;
  padding: 12px;
  width: 20%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
}
input.create_book_input_img {
  color: white;
  margin-top: 20px;
}
textarea.create_book_input {
  background-color: black;
  color: white;
  padding: 12px;
  width: 20%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  height: 175px;
}

input.submit_book {
  background-color: black;
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  border-radius: 50px;
  margin-top: 20px;

  width: 20%;
  padding: 12px;
}

input.submit_book:hover {
  cursor: pointer;
}

/* CREATE BOOK END */

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
  text-align: center;
  background-color: black;
  color: white;
  text-align: center;
}

.tcrimg {
  width: 65px;
  height: 35px;
}
.copyright {
  text-decoration: none;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}
.footer-names {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}

/* FOOTER END */

/* BOOKS */

div.book_container {
  display: inline-flex;
  width: 250px;
  margin: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* BOOKS END */

/* BOOKS AVAILABLE  */

button.button_update_available {
  border-radius: 5px;
  border-color: white;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 7px 10px;
  margin-top: 20px;
}

/* BOOKS AVAILABLE END */

/* STUDENT_RESERVED */
form.delete_reserved {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.student_reserved {
  margin-top: 25px;
  border: 2px solid white;
  padding: 22px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

div.succes_section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  margin-top: 50px;
  margin-left: 10px;
}
div.succes {
  font-size: 20px;
  margin-bottom: 20px;
}

a.back_reserved {
  padding: 7px 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  width: 140px;
}

.search-button-reserve {
  padding: 7px 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* STUDENT_RESERVED END */

/*MAIN PAGE */

h1.main-page {
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 60px;
  font-size: 50px;
}
h2.main-page {
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 50px;
}

p.main-page {
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
}
.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*MAIN PAGE END */
