nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 40px;
  padding-right: 35px;
  padding-bottom: 25px;
}

.searchbar {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  width: 56%;
  padding: 20px;
}

.nav_page_link {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}

.nav_page_link-login {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  padding: 25px;
}
.searchbar input[type="search"] {
  width: 32%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 12px;
  border-radius: 10px;
}
.search-button {
  padding: 5px 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.search-input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 20px 0 0 20px;
}
